<VirtualHost *:80>
        ServerName stackptr.com
        ServerAlias www.stackptr.com
        ServerAdmin webmaster@localhost

	<Directory />
                Order deny,allow
                Allow from all
        </Directory>

        Redirect permanent / https://stackptr.com/

</VirtualHost>

<VirtualHost *:443>
        ServerName www.stackptr.com
        <Directory />
                Order deny,allow
                Allow from all
        </Directory>

        SSLEngine on
        SSLCertificateFile /etc/apache2/ssl/stackptr.com.crt
        SSLCertificateKeyFile /etc/apache2/ssl/stackptr.com.key
        SSLCertificateChainFile /etc/apache2/ssl/GandiStandardSSLCA.pem
        SSLVerifyClient None

        Redirect permanent / https://stackptr.com/
</VirtualHost>

<VirtualHost *:443>
       ServerName stackptr.com
       ServerAdmin webmaster@localhost

	<Directory />
                Order deny,allow
                Allow from all
        </Directory>

	<Directory /home/gm/stackptr/>
		Order deny,allow
		Allow from all
		Require all granted
	</Directory>

        ErrorLog /var/log/apache2/error.log

        # Possible values include: debug, info, notice, warn, error, crit,
        # alert, emerg.
        LogLevel warn

        CustomLog /var/log/apache2/stackptr.log combined

        Alias /static /home/gm/stackptr/static/

        WSGIDaemonProcess stackptr user=www-data group=www-data threads=5 python-path=/home/gm/stackptr/
        WSGIScriptAlias / /home/gm/stackptr/stackptr.py
        WSGIScriptReloading On
        WSGIProcessGroup stackptr


	CacheRoot /var/cache/apache2/mod_cache_disk    	
	CacheDirLevels 3
    	CacheDirLength 5
    	CacheIgnoreCacheControl On
    	CacheMaxFileSize 1048576
    	CacheIgnoreNoLastMod On
    	CacheMaxExpire 1209600
    	CacheIgnoreQueryString On

	ProxyPass /tiles http://somewhere/osm_tiles
	ProxyPassReverse /tiles http://somewhere/osm_tiles
	CacheEnable disk /tiles

	ProxyPass /tiles_r http://somewhere/osm_tiles2
	ProxyPassReverse /tiles_r /tiles http://somewhere/osm_tiles2
	CacheEnable disk /tiles_r

        SSLEngine on
        SSLCertificateFile /etc/apache2/ssl/stackptr.com.crt
        SSLCertificateKeyFile /etc/apache2/ssl/stackptr.com.key
        SSLCertificateChainFile /etc/apache2/ssl/GandiStandardSSLCA.pem
        SSLVerifyClient None
</VirtualHost>

