<!DOCTYPE html>
<html {% block htmldef %}{% endblock htmldef %}>
  <head>
    <title>{% block title %}StackPtr{% endblock %}</title>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    {% block extra_head %}{% endblock %}
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/static/css/jquery-ui-1.10.3.custom.min.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    {% block extra_css %}{% endblock %}
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/static/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/flask-csrf.js"></script>
    <script src="/static/js/angular.min.js"></script>
    {% block extra_js %}{% endblock %}
  </head>
  <body {% block bodydef %}{% endblock bodydef %}>
    {% block content %}
    <h1> Nothing To See Here </h1>
    {% endblock content %}
  </body>
</html>
