<!DOCTYPE html>
<html ng-app="StackPtr">
  <head>
	<title>StackPtr</title>
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="apple-touch-icon" sizes="57x57" href="static/icons/apple-icon-57x57.png" />
	<link rel="apple-touch-icon" sizes="60x60" href="static/icons/apple-icon-60x60.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="static/icons/apple-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="76x76" href="static/icons/apple-icon-76x76.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="static/icons/apple-icon-114x114.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="static/icons/apple-icon-120x120.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="static/icons/apple-icon-144x144.png" />
	<link rel="apple-touch-icon" sizes="152x152" href="static/icons/apple-icon-152x152.png" />
	<link rel="apple-touch-icon" sizes="180x180" href="static/icons/apple-icon-180x180.png" />
	<link rel="icon" type="image/png" sizes="192x192"  href="static/icons/android-icon-192x192.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="static/icons/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="96x96" href="static/icons/favicon-96x96.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="static/icons/favicon-16x16.png" />
	<link rel="manifest" href="static/icons/manifest.json" />
	<meta name="msapplication-TileColor" content="#ffffff" />
	<meta name="msapplication-TileImage" content="static/icons/ms-icon-144x144.png" />
	<meta name="theme-color" content="#ffffff" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="static/css/bootstrap.min.css" />
	<link rel="stylesheet" href="static/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="static/css/jquery-ui-1.10.3.custom.min.css" />
	<link rel="stylesheet" href="static/css/index.css" />
	<link rel="stylesheet" type="text/css" href="static/css/leaflet.css" />
	<link rel="stylesheet" type="text/css" href="static/css/leaflet.draw.css" />
	<link rel="stylesheet" type="text/css" href="static/css/xeditable.min.css" />
	<link rel="stylesheet" type="text/css" href="static/css/index.css" />
	<style type="text/css">
		body {
			overflow: hidden;
		}
	</style>
	<script src="static/js/jquery-1.11.1.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/jquery-ui-1.10.3.custom.min.js"></script>
	<script src="static/js/jquery.cookie.js"></script>
	<script src="static/js/angular.min.js"></script>
	<script src="static/js/angular-cookies.min.js"></script>
	<script src="static/js/xeditable.min.js"></script>
	<script type="text/javascript" src="static/js/leaflet.js"></script>
	<script type="text/javascript" src="static/js/ui-leaflet.min.js"></script>
	<script type="text/javascript" src="static/js/angular-animate.min.js"></script>
	<script type="text/javascript" src="static/js/angular-sanitize.min.js"></script>
	<script type="text/javascript" src="static/js/angular-simple-logger.min.js"></script>
	<script type="text/javascript" src="static/js/leaflet.draw.js"></script>
	<script type="text/javascript" src="static/js/ui-leaflet-draw.js"></script>
	<script type="text/javascript" src="static/js/moment.min.js"></script>
	<script type="text/javascript" src="static/js/angular-moment.min.js"></script>
	<script type="text/javascript" src="static/js/angular-strap.min.js"></script>
	<script type="text/javascript" src="static/js/angular-strap.tpl.min.js"></script>
	<script type="text/javascript" src="static/js/autobahn.min.js"></script>
	<script type="text/javascript" src="static/js/angular-wamp.js"></script>
	<script type="text/javascript" src="static/js/stackptr-utils.js"></script>
	<script type="text/javascript" src="static/js/stackptr-platform-shim.js"></script>
	<script type="text/javascript" src="static/js/stackptr-mapview.js"></script>
	<script type="text/javascript" src="static/js/color-thief.min.js"></script>
  </head>
  <body ng-controller="StackPtrMap">
	<nav class="navbar navbar-fixed-top navbar-inverse semitransparent" role="navigation">
		<div class="navbar-header">
			<img src="static/logo2.png" id="logo" height="50px">
		</div>
		<ul class="nav navbar-nav hidden-sm hidden-xs">
			<li><a ng-click="toggleUserMenu()">Tracked Users</a></li>
			<li><a ng-click="toggleGroupMenu()">Groups</a></li>
			<li><a ng-if="::!isStackPtrAndroid" href="/api/">Manage API keys</a></li>
			<li><a ng-if="::!isStackPtrAndroid" href="https://stackptr.readthedocs.org/">API Docs</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{tiles.name}} <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li ng-repeat="(tilename,tile) in ::tileservers"><a ng-click="setTileServer(tilename)" ng-bind="::tile.name"></a></li>
					</ul>
			</li>
			<li><a ng-bind="status"></a></li>
			<li><a ng-if="::!isStackPtrAndroid" href="/logout">Log out</a></li>
			<li><a ng-if="::isStackPtrAndroid" onclick="StackPtrAndroidShim.showSettings()">Prefs</a></li>
			<li><a ng-if="::isStackPtrAndroid" ng-show="serviceRunning" ng-click="stopAndroidService()">Stop Service</a></li>
			<li><a ng-if="::isStackPtrAndroid" ng-show="!serviceRunning" ng-click="startAndroidService()">Start Service</a></li>
		</ul>
		
		<ul class="nav navbar-nav navbar-right visible-sm-block visible-xs-block">
			<li><a ng-click="toggleUserMenu()"><span class="glyphicon glyphicon-user"></span></a></li>
			<li><a ng-click="toggleGroupMenu()"><span class="glyphicon glyphicon-th"></span></a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li><a ng-if="::!isStackPtrAndroid" href="/api/">Manage API keys</a></li>
					<li><a ng-if="::!isStackPtrAndroid" href="https://stackptr.readthedocs.org/">API Docs</a></li>
					<li class="divider" ng-if="::!isStackPtrAndroid" />
					<li ng-repeat="(tilename,tile) in ::tileservers"><a ng-click="setTileServer(tilename)" ng-bind="::tile.name"></a></li>
					<li class="divider" />
					<li><a ng-bind="status"></a></li>
					<li class="divider" />
					<li><a ng-if="::!isStackPtrAndroid" href="/logout">Log out</a></li>
					<li><a ng-if="::isStackPtrAndroid" onclick="StackPtrAndroidShim.showSettings()">Prefs</a></li>
					<li class="divider" ng-if="::isStackPtrAndroid" />
					<li><a ng-if="::isStackPtrAndroid" ng-show="serviceRunning" ng-click="stopAndroidService()">Stop Service</a></li>
					<li><a ng-if="::isStackPtrAndroid" ng-show="!serviceRunning" ng-click="startAndroidService()">Start Service</a></li>
				</ul>
			</li>
		</ul>
	</nav>

	<nav class="navbar navbar-fixed-bottom navbar-inverse semitransparent" ng-if="::isStackPtrAndroid" ng-show="!serviceRunning">
		<ul class="nav navbar-nav">
			<li><span class="navbar-text">Location Update Service not running</span></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
				<form class="navbar-form">
					<button type="button" class="btn btn-success" ng-click="startAndroidService()">Start</button>&nbsp;
				</form>
			</li>
		</ul>
	</nav>

	<div class="panel panel-primary" id="usermenu">
		<div class="panel-heading">Tracked Users 
		<a ng-click="toggleUserMenu()"><span class="glyphicon glyphicon-remove closebox pull-right"></span></a>
			
		</div>
		<div class="panel-body">
			
			<img width="32" height="32" class="user-icon" ng-src="{{::userMe.icon}}" ng-click="center.lat = userMe.loc[0]; center.lng = userMe.loc[1]; center.zoom = 16">
			<span class="userme-label">{{userMe.username}}<span ng-if="userMe.lastupd > 0">, </span><span am-time-ago="userMe.lastupd" am-preprocess="unix" ng-if="userMe.lastupd > 0">,</span></span>
			
			<div ng-if="userMe.lastupd < 0">Your position has never been updated. You can install the mobile client for Android <a href="https://play.google.com/apps/testing/com.stackunderflow.stackptr">here</a> (iOS coming soon)</div>
					
			<span ng-if="(hUsers = (userList | updateRange:0:60)).length"><div class="label" >&lt;1m ago</div></span>

			<div ng-repeat="user in hUsers track by user.id">
				<img width="32" height="32" class="user-icon" ng-src="{{::user.icon}}"
				data-trigger="hover" bs-tooltip data-placement="left" data-html="true"
				data-title="<b>{{user.username}}</b><br>{{user.geocode}}
							<br>Last update: {{user.lastupd * 1000 | amCalendar}}"
				ng-click="clickMarker(user)">
				<span class="user-geocode" ng-bind="user.geocode"></span>
			</div>

			<span ng-if="(hUsers = (userList | updateRange:60:3600)).length"><div class="label" >&lt;1h ago</div></span>
			
			<div ng-repeat="user in hUsers track by user.id">
				<img width="32" height="32" class="user-icon" ng-src="{{::user.icon}}"
				data-trigger="hover" bs-tooltip data-placement="left" data-html="true"
				data-title="<b>{{user.username}}</b><br>{{user.geocode}}
							<br>Last update: {{user.lastupd * 1000 | amCalendar}}"
				ng-click="clickMarker(user)">
				<span class="user-geocode" ng-bind="user.geocode"></span>
			</div>
			
			<span ng-if="(dUsers = (userList | updateRange:3600:86400)).length"><div class="label">&lt;1d ago</div></span>
			
			<div ng-repeat="user in dUsers track by user.id">
				<img width="32" height="32" class="user-icon" ng-src="{{::user.icon}}"
				data-trigger="hover" bs-tooltip data-placement="left" data-html="true"
				data-title="<b>{{user.username}}</b><br>{{user.geocode}}
							<br>Last update: {{user.lastupd * 1000 | amCalendar}}"
				ng-click="clickMarker(user)">
				<span class="user-geocode" ng-bind="user.geocode"></span>
			</div>
			
			<span ng-if="(wUsers = (userList | updateRange:86400:604800)).length"><div class="label">&lt;1w ago</div></span>

			<img width="32" height="32" class="user-icon" ng-repeat="user in wUsers track by user.id" ng-src="{{::user.icon}}" 
				data-trigger="hover" bs-tooltip data-placement="left" data-html="true"
				data-title="<b>{{user.username}}</b><br>{{user.geocode}}
							<br>Last update: {{user.lastupd * 1000 | amCalendar}}"
				ng-click="clickMarker(user)">
			
			<span ng-if="(oUsers = (userList | updateRange:604800:-1)).length"><div class="label">&gt;1w ago</div></span>

			<img width="32" height="32" class="user-icon" ng-repeat="user in oUsers track by user.id" ng-src="{{::user.icon}}" 
				data-trigger="hover" bs-tooltip data-placement="left" data-html="true"
				data-title="<b>{{user.username}}</b><br>{{user.geocode}}
							<br>Last update: {{user.lastupd * 1000 | amCalendar}}"
				ng-click="clickMarker(user)">
			
			<span ng-if="!pendingListEmpty"><div class="label">Outgoing Requests</div></span>
			
			<img width="32" height="32" class="user-icon" ng-repeat="user in userPending track by user.id" ng-src="{{::user.icon}}" 
				data-trigger="click" bs-tooltip data-placement="left" data-html="true"
				data-title="<b>{{user.username}}</b><br><a onClick='delUserClick(this,{{user.id}})'>Cancel Request</a>">
			
			<span ng-if="!reqsListEmpty"><div class="label">Incoming Requests</div></span>
			
			<img width="32" height="32" class="user-icon" ng-repeat="user in userReqs track by user.id" ng-src="{{::user.icon}}" 
				 data-template-url="static/template/userAddRequest.html" data-container="body" data-title="Add Group" ng-click="addUserPopup(user)" bs-modal>

			<br>

			<div ng-if="userListEmpty">Your user list is empty. Click the <span class="glyphicon glyphicon-plus"></span> to add another user.</div>

			<div ng-repeat="g in groupsSharedTo track by g.gid">Sharing with group {{ grouplist[g.gid].name }}: <a ng-click="setShareToGroup(g.gid,0,null,$event)">Stop</a></div>


				<span class="glyphicon glyphicon-plus" onclick="$('#adduser').collapse('toggle')"></span>
				<div class="collapse" id="adduser">
					<form class="input-group input-group-sm" ng-submit="addUser($event)">
						<input type="text" name="user" class="form-control" value="">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" ng-click="addUser($event)">Add</button>
						</span>
					</form>	
				</div>
			
		</div>
	</div>

	<div class="panel panel-primary" id="groupmenu">
		<div class="panel-heading">Groups <a ng-click="toggleGroupMenu()"><span class="glyphicon glyphicon-remove closebox pull-right"></span></a></div>
		<div class="panel-body" id="groupmenu_content">

			<div class="form-horizontal">
				<div class="form-group">
					<div class="col-sm-9">
						<select class="form-control" name="group" id="group" ng-model="group" ng-change="selectGroup()"
							ng-options="groupl.id as groupl.name for groupl in grouplist">
						</select>
					</div>
					<div class="col-sm-3" style="padding: 0px">
							<span class="glyphicon glyphicon-plus icon-white" data-template-url="static/template/groupAdd.html"
							data-container="body" data-title="Add Group" ng-click="groupAdd()" bs-modal></span>
							<span class="glyphicon glyphicon-list icon-white" data-template-url="static/template/groupDiscover.html"
							data-container="body" data-title="Discover Groups" ng-click="groupDiscover()" bs-modal></span>
							<span class="glyphicon glyphicon-cog icon-white" data-template-url="static/template/groupInfo.html"
							data-container="body" data-title="Group Info: {{ grouplist[group].name }}" ng-if="group >= 0 && group != null" 
							ng-click="groupInfo()" bs-modal></span>
					</div>
				</div>
			</div>

			<div class="panel panel-default" ng-if="group >= 0 && group != null">
				<div class="panel-body" ng-bind="grouplist[group].description"></div>
			</div>

			<div class="text-white" ng-if="!(group >= 0) || group == null">
			You have no groups. Click the <span class="glyphicon glyphicon-plus"></span> icon above to create a new group or click the <span class="glyphicon glyphicon-list"></span> icon to find an existing group.
			</div>

			<span ng-if="!groupShareUsersEmpty"><div class="label">Users sharing location</div></span>

			<img width="32" height="32" class="user-icon" ng-repeat="user in groupShareUsers track by user.id" ng-src="{{::user.icon}}" 
				data-trigger="hover" bs-tooltip data-placement="left" data-html="true"
				data-title="<b>{{user.username}}</b><br>Last update: {{user.lastupd * 1000 | amCalendar}}"
				ng-click="clickMarker(user)">

			<span><div class="label">Drawn Objects</div></span>
			
			<div class="list-group" id="groupfeaturelist" bs-collapse ng-model="activePanel" ng-animation="am-fade">
			<span id="feature-{{::item.id}}" class="list-group-item list-item-draw" ng-repeat="item in groupdata track by item.id" ng-click="gotoItem(item.id)">
				<span class="icon_type icon_{{::item.json.geometry.type}}">&nbsp;</span>
				<a ng-bind="item.name"></a>
				<span ng-bind="item.description"></span>
			</span>
			</div>

		</div>
	</div>

	<div class="fill">
			 <leaflet lf-defaults="defaults" tiles="tiles" lf-center="center" lf-draw="drawOptions" markers="markers" paths="paths" height="100%"></leaflet>
	</div>
  </body>
</html>