{% extends 'base.html' %}

{% block extra_head %}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
{% endblock extra_head %}

{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="/static/css/leaflet.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/leaflet.draw.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/index.css" />
	<style type="text/css">
		body {
			overflow: hidden;
		}
	</style>
{% endblock extra_css %}

{% block extra_js %}
	<script type="text/javascript" src="/static/js/leaflet.js"></script>
	<script type="text/javascript" src="/static/js/angular-leaflet-directive.js"></script>
	<script type="text/javascript" src="/static/js/leaflet.draw.js"></script>
	<script type="text/javascript" src="/static/js/moment.min.js"></script>
	<script type="text/javascript" src="/static/js/angular-moment.min.js"></script>
	<script type="text/javascript" src="/static/js/stackptr-utils.js"></script>
	<script type="text/javascript" src="/static/js/stackptr-mapview.js"></script>
{% endblock extra_js %}

{% block htmldef %}ng-app="StackPtr"{% endblock %}
{% block bodydef %}ng-controller="StackPtrMap"{% endblock %}

{% block content %}
<nav class="navbar navbar-fixed-top navbar-inverse semitransparent" role="navigation">
	<div class="navbar-header">
		<img src="/static/logo2.png" id="logo" height="50px">
	</div>
	<ul class="nav navbar-nav hidden-sm hidden-xs">
		<!-- <li><a onclick="togglePane('#gpsmenu')">Update</a></li> -->
		<li><a onclick="togglePane('#usermenu')">Tracked Users</a></li>
		<li><a onclick="togglePane('#groupmenu')">Groups</a></li>
		<li><a href="/api/">Manage API keys</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
		<li><a class="refreshtimer">Updating in [[counter]] seconds</a></li>
		<li><a href="https://docs.google.com/document/d/1Odpxs_EBL9PXIKDKCWjwrP8RWntRPIWtgzHKxoOS0W8/edit?usp=sharing">Todo List</a></li>
		<li><a>Logged in as: {{ current_user }}</a></li>
		<li><a href="/logout">Log out</a></li>
	</ul>
	
	<ul class="nav navbar-nav navbar-right visible-sm-block visible-xs-block">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <span class="caret"></span></a>
			<ul class="dropdown-menu" role="menu">
				<li><a onclick="togglePane('#usermenu')">Tracked Users</a></li>
				<li><a onclick="togglePane('#groupmenu')">Groups</a></li>
				<li><a href="/api/">Manage API keys</a></li>
				<li class="divider"></li>
				<li><a class="refreshtimer">Updating in [[counter]] seconds</a></li>
				<li class="divider"></li>
				<li><a>Logged in as: {{ current_user }}</a></li>
				<li><a href="/logout">Log out</a></li>
			</ul>
		</li>
	</ul>
</nav>

<div class="panel panel-primary hidden" id="gpsmenu">
	<div class="panel-heading">Update <a onclick="togglePane('#gpsmenu')"><span class="glyphicon glyphicon-remove"></span></a></div>
	<div class="panel-body">
	<button id="upload_loc" class="btn btn-primary">Upload</button>
	<button id="refresh_loc" class="btn btn-default">Refresh</button>
	<button id="autorefresh_loc" class="btn btn-default">Start Live</button>
	<select class="form-control" name="locsource" id="locsource">
	<option>Server</option>
	<option>HTML5 Geolocation</option>
	</select>
	<div id="loc"></div>
	</div>
</div>

<div class="panel panel-primary" id="usermenu">
	<div class="panel-heading">Tracked Users <a onclick="togglePane('#usermenu')"><span class="glyphicon glyphicon-remove closebox pull-right"></span></a></div>
	<div class="panel-body">
		<div class="list-group" id="userlist">
			<a href="" class="list-group-item list-item-person" ng-repeat="user in userList">
				<img width="24" height="24" ng-src="[[user.icon]]">
				[[user.username]] <!-- [[user.hdg]] --> <span am-time-ago="user.lastupd" am-preprocess="unix"></span>
				<span class="glyphicon glyphicon-plus pull-right"></span><br>
			</a>
		</div>
		<!--
		<form class="form-horizontal" role="form" method="POST" action="/adduser" id="adduserform">
			<div class="form-group">
				<div class="col-lg-6">
					<input type="text" class="form-control" name="username">
				</div>
				<div class="col-lg-6">
					<button type="submit" id="adduser" class="btn btn-default">+</button>
					<button id="goto_loc" class="btn btn-warning">Me</button>
				</div>
			</div>
		</form>
		<div id="addstatus"></div>
		-->
	</div>
</div>

<div class="panel panel-primary" id="groupmenu">
	<div class="panel-heading">Groups <a onclick="togglePane('#groupmenu')"><span class="glyphicon glyphicon-remove closebox pull-right"></span></a></div>
	<div class="panel-body" id="groupmenu_content">
		<form class="form-horizontal" role="form" method="POST" action="/selectgroup" id="selectgroupform">
			<div class="form-group">
				<div class="col-lg-12">
					<select class="form-control" name="groupname" id="selectgroup">
						<option value="[[id]]" ng-repeat="(id,name) in grouplist">[[name]]</option>
					</select>
				</div>
			</div>
		</form>
		<div class="list-group" id="groupfeaturelist">
		<a id="feature-1" class="list-group-item list-item-draw" ng-repeat="item in groupdata"> [[item.name]] [[item.owner]]
				<span class="glyphicon glyphicon-pencil pull-right"></span>
		</a>
		
		</div>
	</div>
</div>

<div class="fill">
		<leaflet defaults="defaults" geojson="geojson" controls="controls" markers="markers" height="100%"></leaflet>
</div>

{% endblock content %}