<div class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog"> 
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<h4 class="modal-title">Group Info</h4>
			</div>
			<div class="modal-body">

				<label for="groupadminlist">Group Administrators</label>
				<div id="groupadminlist">
					<img width="32" height="32" class="user-icon" ng-repeat="user in grouplist[group].members" ng-src="{{user.icon}}"
				data-trigger="click" bs-tooltip data-placement="top" data-html="true"
				data-title="<b>{{user.username}}</b><br><a onClick='setRoleUserClick({{user.id}},1)'>Demote</a> <a onClick='setRoleUserClick({{user.id}},0)'>Delete</a>"
				ng-if="user.role == 2 && grouplist[group].role == 2">

				<img width="32" height="32" class="user-icon" ng-repeat="user in grouplist[group].members" ng-src="{{user.icon}}"
				data-trigger="click" bs-tooltip data-placement="top" data-html="true"
				data-title="<b>{{user.username}}</b>"
				ng-if="user.role == 2 && grouplist[group].role != 2">

				<span class="glyphicon glyphicon-plus pull-right" onclick="$('#groupaddadmin').collapse('toggle')" ng-if="grouplist[group].role == 2"></span>
				<div class="collapse" id="groupaddadmin" ng-if="grouplist[group].role == 2">
					<form class="input-group input-group-sm" ng-submit="groupAddUser($event,2)">
						<input type="text" name="user" class="form-control" value="">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" ng-click="groupAddUser($event,2)">Add</button>
						</span>
					</form>	
				</div>

				</div>

				<label for="groupuserlist">Group Members</label>
				<div id="groupuserlist">
					<img width="32" height="32" class="user-icon" ng-repeat="user in grouplist[group].members" ng-src="{{user.icon}}"
				data-trigger="click" bs-tooltip data-placement="top" data-html="true"
				data-title="<b>{{user.username}}</b><br><a ng-if='0' onClick='setRoleUserClick({{user.id}},2)'>Promote</a> <a onClick='setRoleUserClick({{user.id}},0)'>Delete</a>"
				ng-if="user.role != 2 && grouplist[group].role == 2">

				<img width="32" height="32" class="user-icon" ng-repeat="user in grouplist[group].members" ng-src="{{user.icon}}"
				data-trigger="click" bs-tooltip data-placement="top" data-html="true"
				data-title="<b>{{user.username}}</b>"
				ng-if="user.role != 2 && grouplist[group].role != 2">

				<span class="glyphicon glyphicon-plus pull-right" onclick="$('#groupadduser').collapse('toggle')" ng-if="grouplist[group].role == 2"></span>
				<div class="collapse" id="groupadduser" ng-if="grouplist[group].role == 2">
					<form class="input-group input-group-sm" ng-submit="groupAddUser($event,1)">
						<input type="text" name="user" class="form-control" value="">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" ng-click="groupAddUser($event,1)">Add</button>
						</span>
					</form>	
				</div>

				</div>

					<div class="form-group">
						<label for="groupname">Group Name</label>
						<div class="col-md-12" ng-if="grouplist[group].role == 2">
							<a href="#" editable-text="grouplist[group].name" ng-bind="grouplist[group].name" onbeforesave="updateGroupName($data,group)"></a>
						</div>
						<div class="col-md-12" ng-if="grouplist[group].role != 2">
							<span ng-bind="grouplist[group].name"></span>
						</div>
					</div>
					<br>
					<div class="form-group">
						<label for="groupdesc">Description</label>
						
						<div class="col-md-12" ng-if="grouplist[group].role == 2">
							<a href="#" editable-textarea="grouplist[group].description" e-rows="7" e-cols="40" 
							onbeforesave="updateGroupDescription($data,group)">
								<div style="white-space: normal" ng-bind="grouplist[group].description || 'no description'"></div>
							</a>
						</div>
						<div class="col-md-12" ng-if="grouplist[group].role != 2">
							<div style="white-space: normal" ng-bind="grouplist[group].description || 'no description'"></div>
						</div>
					</div>
					<br>

					<div class="form-group">
						<label>Status</label>
						<div class="col-md-12" ng-if="grouplist[group].role == 2">
							<a href="#" editable-checkbox="grouplist[group].status == 0" e-title="Show group in public list?"
							ng-bind="(grouplist[group].status > 0) && 'Group not shown in public list' || 'Group shown and joinable in public list' "
							onbeforesave="updateGroupVisibility($data,group)"></a>
						</div>
						<div class="col-md-12" ng-if="grouplist[group].role != 2">
							<i ng-bind="(grouplist[group].status > 0) && 'Group not shown in public list' || 'Group shown and joinable in public list' "></i>
						</div>
					</div>
					<br>

					<div class="form-group">
						<label>Sharing</label>
						<div class="col-md-12">
							<button class="btn btn-default" type="button" ng-click="setShareToGroup(group,1,$hide,$event)" ng-if="!groupsSharedTo[group]">Share Location With Group</button>
							<button class="btn btn-default" type="button" ng-click="setShareToGroup(group,0,$hide,$event)" ng-if="groupsSharedTo[group]">Stop Sharing Location With Group</button>
						</div>
					</div>
					<br>
					<br>

					<div class="form-group">
						<label>Manage</label>
						<div class="col-md-12">
							<button class="btn btn-default" type="button" ng-click="leaveGroup(group,$hide,$event)">Leave Group</button>
							<button class="btn btn-danger" type="button" ng-click="deleteGroup(group,$hide,$event)" ng-if="grouplist[group].role == 2">Delete Group</button>
						</div>
					</div>

					&nbsp;

			</div>
		</div>
	</div>
</div>